<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="logBase" value="/opt/logs"/>
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 按照每天生成日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logBase}/rabbitmq.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logBase}/rabbitmq.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <!--日志文件保留天数-->
        <!--<MaxHistory>30</MaxHistory>-->
    </appender>

    <!--wind-rabbitmq log configure-->
    <logger name="com.wind" additivity="false" level="INFO">
        <appender-ref ref="FILE"/>
    </logger>

    <!--myibatis log configure-->
    <logger name="com.apache.ibatis" additivity="false" level="TRACE">
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="java.sql.Connection" additivity="false" level="DEBUG">
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="java.sql.Statement" additivity="false" level="DEBUG">
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="java.sql.PreparedStatement" level="DEBUG">
        <appender-ref ref="FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <!--日志异步到数据库 -->
    <!--<appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
        <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
            <dataSource class="org.apache.tomcat.jdbc.pool.DataSource">
                <driverClass>com.mysql.jdbc.Driver</driverClass>
                <url>jdbc:mysql://mysql:3306/wind_auth</url>
                <user>root</user>
                <password>123456</password>
            </dataSource>
        </connectionSource>
    </appender>-->
</configuration>